.primary-bg{
   background-color: #581845;
}
.navdiv{
    background-color: #581845 ;
    width: 100%;
}
.navbar-brand{
    font-size:40px;
    font-style:bold;
}
.navbar-nav{
    font-size:25px;
}
.mystyle{
    font-size: 50px;
}